

.content__container{    
    padding: 0 250px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    /* margin-top: 105px; */
}



.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}